player-connection-mode=Listen
player-connection-guid=1732932839
player-connection-debug=0
player-connection-project-name=MLAPI_Sample
player-connection-ip=172.19.48.1
player-connection-ip=192.168.11.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
